@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
::selection {
  color: var(--color-1);
  background-color: var(--color-2);
}
:root {
  --color-1: #5e8cba;
  --color-2: #253d55;
  --color-3: #8ea1b5;
  --trans-bg: #e3e6e8ba;
  --container-back: #cfdce8;
  --stroke-color: #253d55;
  --yellow-bg: #FFBB5C;
}
.light{
  font-weight: 400;
}
.italic{
  font-style: italic;
}
.stroke-light{
  color: transparent;
  -webkit-text-stroke: 1px #000000;
}
.bg-yellow-color-black{
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(232, 231, 231);
  background-color: var(--yellow-bg);
  color: #000000;
  transition: all ease 0.5s;
}
.bg-yellow-color-black:hover{
  transform: translateX(-10px);
}
.float-hover-one, .float-hover-two, .float-hover-three, .float-hover-four {
  transition: all ease 0.5s;
  box-shadow: 0 0 30px rgb(232, 231, 231);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}

.float-hover-one{
  background-image: url('./assets/about-back/kaveesh.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.float-hover-two{
  background-image: url('./assets/about-back/aditya.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.float-hover-three{
  background-image: url('./assets/about-back/shrinjani.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.float-hover-four{
  background-image: url('./assets/about-back/anay.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.float-hover-one:hover, .float-hover-two:hover, .float-hover-three:hover, .float-hover-four:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 50px rgb(232, 231, 231);
}








/* NAV CUSTOMISATION */

.nav {
  background-color: var(--trans-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  border-radius: 10px;
}
/* LOGO AND TITLE  */
.branding {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  border-radius: 50px;
}
.branding h1 {
  color: var(--color-3);
}
/* LOGO */
.girl {
  margin-right: 10px;
  height: 5vh;
  width: auto;
  border-radius: 50%;
}
/* LINKS */
.links {
  width: 40%;
}
.links ul {
  /* width: 50%; */
  display: flex;
  justify-content: space-around;
}
.links ul li {
  position: relative;
  list-style-type: none;
}
.links ul li a {
  color: var(--color-3);
  transition: all ease 0.3s;
  text-decoration: none;
}
.links ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--color-3);
  width: 0%;
  transition: all ease 0.5s;
}
.links ul li:hover::after {
  width: 100%;
  background-color: #000000;
}
.links ul li:hover a {
  color: #000000;
}








/* HOMEPAGE CUSTOMISATION  */

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: #8ECDDD; */
  justify-content: center;
  background-color: var(--container-back);
}

.container .text {
  height: 100%;
  width: 50%;
  display: flex;
  padding-left: 100px;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.container .text > h1 {
  /* background-color: red; */
  color: var(--stroke-color);
  font-size: 40px;
}
.container .text > p {
  margin-top: 10px;
  width: 100%;
  /* background-color: green; */
}
.stroke {
  color: transparent;
  -webkit-text-stroke: 2px var(--stroke-color);
}

.container .img {
  /* background-color: rebeccapurple; */
  width: 50%;
  height: 100%;
  background-image: url("./assets/boy_bg.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 30%;
  transition: all ease 0.5s;
  cursor: pointer;
}

.container .img:hover {
  transform:translateY(-10px)
}
.learn_more{
  width: 30%;
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: var(--container-back);
  border-radius: 30px;
  transition: all ease 0.5s;
  margin-top: 10px;
  box-shadow:inset 0 0 10px var(--color-3);
  cursor: pointer;
}
.learn_more a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: var(--color-2);
}

.learn_more:hover {
  background-color: #fff;
  box-shadow:inset 0 0 5px var(--color-3);
}









/* SOFTWARE PAGE */

.software {
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.software .head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.software .img {
    margin-top: -40px;
  width: 100%;
  height: 70vh;
}
.software .img img {
  height: 100%;
  width: 100%;
  transition: all ease 0.5s;
}

.software .img img:hover {
    transform:translateY(-10px)

}

.down_button{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}
.down_button .download{
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 10px ;
    cursor: pointer;
    box-shadow: 0 0 10px var(--color-2);
    background-color: var(--color-2);
    transition: all ease 0.5s;
}

.down_button .download:hover {
    box-shadow: 0 0 30px var(--color-2);
}

.down_button .download a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.9px;
    font-family: 'Poppins', sans-serif;
}









/* ABOUT US PAGE  */

.about{
  height: 110vh;
}
.about_text{
  text-align: center;
}
.starter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.starter .img img{
  position: absolute;
  right: 0;
  margin-top: -100px;
  margin-right: -10px;
}

.creators{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.first_two{
  display: flex;
  align-items: center;
  justify-content: center;
}
.last_two{
  display: flex;
  align-items: center;
  justify-content: center;
}
.kaveesh, .aditya, .anay, .shrinjani{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.kaveesh img, .aditya img, .anay img, .shrinjani img {
  height: 50%;
  width: 50%;
}
.info .class-name{
 font-style: italic;
}